#directories
alias cdc="cd ~/code"
alias pro="cd ~/code/procore"
alias dotfiles="subl ~/code/dotfiles"
alias config="subl ~/code/mac-dev-playbook/"
alias run_config="cd ~/code/mac-dev-playbook/;./run"

#git
alias gs='git status'
alias gc='git commit'
alias gcob='git checkout -b'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'

# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Bundler
alias b="bundle"

# Rails
# alias migrate="rake db:migrate db:rollback && rake db:migrate db:test:prepare"
alias s="rspec"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Include custom aliases
if [[ -f ~/.aliases.local ]]; then
  source ~/.aliases.local
fi
