#directories
alias cdw="cd ~/code"
alias pro="cd ~/code/procore"
alias pro2="cd ~/code/2procore"
alias dotf="cd ~/code/dotfiles; subl ."
alias config="cd ~/code/mac-dev-playbook; subl ."

#git
alias gs='git status'
alias gc='git commit'
alias gcob='git checkout -b'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias gd='git diff'
alias st='stree'

# Unix
alias ls="exa -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"
alias reload='source $ZDOTDIR/.zshrc'

# Bundler
alias b="bundle"
alias be="bundle exec"

# Rails
alias migrate="be rake db:migrate"
alias s="rspec"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Include custom aliases
if [[ -f ~/.aliases.local ]]; then
  source ~/.aliases.local
fi
